* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-Bold.ttf");
}
/* font-family: 'Noto Sans', sans-serif; */
/* font-family: unit("../f"); */
.container {
  max-width: 1440px;
  padding: 20px 130px;
  margin: 0 auto;
}
.container .wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header {
  background: #163A24;
  /* adaptive */
}
.header .header__burger {
  display: none;
}
.header .nav__text {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-right: 24px;
  line-height: 22px;
  color: #FBFAF7;
}
.header .nav__text_enter {
  width: 141px;
  height: 52px;
  border: 0px;
  margin-right: 0;
  background: #198C36;
  border-radius: 160px;
}
@media (max-width: 1280px) {
  .header .container {
    padding: 20px 30px;
  }
}
@media (max-width: 600px) {
  .header .header__nav {
    display: none;
  }
  .header .header__burger {
    display: block;
  }
}

.c1__title {
  margin-bottom: 20px;
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #FBFAF7;
}

.c1__text {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #FBFAF7;
}

.container__1 {
  background-color: #163A24;
  /* adaptive */
}
.container__1 .c1__img {
  width: 100%;
}
.container__1 .container_enter {
  padding: 0px 85px 0px 130px;
}
.container__1 .container_enter .wrap_enter {
  align-items: flex-start;
}
.container__1 .container_enter .wrap_enter .c1__text__title {
  margin-top: 120px;
}
@media (max-width: 1280px) {
  .container__1 .container_enter {
    padding: 0px 0px;
  }
  .container__1 .container_enter .wrap_enter {
    align-items: center;
    flex-direction: column;
  }
  .container__1 .container_enter .wrap_enter .c1__text__title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container__1 .container_enter .wrap_enter .c1__text__title .c1__title {
    align-self: center;
    text-align: center;
    margin: 0;
  }
  .container__1 .container_enter .wrap_enter .c1__text__title .c1__text {
    text-align: center;
  }
}
@media (max-width: 750px) {
  .container__1 .container__enter1 {
    padding: 0px 20px;
  }
  .container__1 .container__enter1 .c1__img__block {
    width: 200px;
    height: 200px;
  }
}

.container__2 {
  /* adaptive */
}
.container__2 .container_enter2 {
  padding: 130px 230px 130px;
}
.container__2 .container_enter2 .wrap__2 {
  display: flex;
  flex-direction: column;
}
.container__2 .container_enter2 .wrap__2 .c2__items {
  justify-content: space-between;
  display: flex;
}
.container__2 .container_enter2 .wrap__2 .c2__items .c2__puc {
  width: 100%;
}
.container__2 .container_enter2 .wrap__2 .c2__items .c2__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container__2 .container_enter2 .wrap__2 .c2__items .c2__text .c1__title_enter {
  color: #163A24;
  margin-bottom: 7px;
}
.container__2 .container_enter2 .wrap__2 .c2__items .c2__text .c1__text_enter {
  color: #163A24;
}
.container__2 .container_enter2 .wrap__2 .c1__title_enter1 {
  text-align: center;
  margin: 115px 0px 66px;
  color: #163A24;
}
.container__2 .container_enter2 .wrap__2 .c2__icons {
  display: flex;
}
.container__2 .container_enter2 .wrap__2 .c2__icons .c2__icons__item {
  margin-right: 87px;
}
.container__2 .container_enter2 .wrap__2 .c2__icons .c2__icons__item_enter {
  margin-right: 0px;
}
@media (max-width: 1280px) {
  .container__2 .container_enter2 {
    padding: 230px 30px;
  }
}
@media (max-width: 1000px) {
  .container__2 .c2__items {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .container__2 .c2__items .c2__text {
    text-align: center;
    margin-bottom: 10px;
  }
  .container__2 .c2__items .c2__text .c1__title_enter {
    text-align: center;
  }
  .container__2 .c2__items_enter {
    flex-direction: column-reverse;
  }
  .container__2 .c2__icons {
    flex-direction: column;
    align-items: center;
  }
  .container__2 .c2__icons .c2__icons__item {
    margin: 0px 0px 10px !important;
  }
}

.container__3 {
  background-color: #163A24;
}
.container__3 .container_enter3 {
  padding: 66px 180px 140px;
}
.container__3 .container_enter3 .wrap__3 {
  display: flex;
  flex-direction: column;
}
.container__3 .container_enter3 .wrap__3 .c1__title_enter3 {
  width: 100%;
  margin-bottom: 66px;
  text-align: center;
}
.container__3 .container_enter3 .wrap__3 .c3__cards {
  display: flex;
  justify-content: space-between;
}
.container__3 .container_enter3 .wrap__3 .c3__cards .c3__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__3 .container_enter3 .wrap__3 .c3__cards .c3__card .c3__img {
  margin-bottom: 28px;
}
.container__3 .container_enter3 .wrap__3 .c3__cards .c3__card_enter {
  margin-right: 0px;
}
@media (max-width: 1280px) {
  .container__3 .container_enter3 {
    padding: 66px 30px;
  }
}
@media (max-width: 820px) {
  .container__3 .c3__cards {
    flex-direction: column;
  }
  .container__3 .c3__cards .c3__card {
    margin-bottom: 30px;
  }
}